@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #E6E8E6;
    display: flex;
    flex-direction: column;
    color: #080708;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

img {
    width: 200px;
    margin: 30% auto 15%;
}


button, input {
    font-weight: 300;
    color: #080708;
    font-family: 'Poppins', sans-serif;
}

.btn_login{
    border-radius: 10px;
    font-size: 18px;
    width: 150px;
    border: none;
    margin: 5% auto 15% 7%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #080708;
}

.btn_login {
    background-color: #FDCA40;
    font-size: 28px;
}

.panel, .panel_header {
    display: flex;
    flex-direction: row;
    width: 80vw;
    margin: auto;
}

.panel_header {
    justify-content: space-between;
}

.botones {
    display: flex;
    flex-direction: column;
}

.btn_funciones, input {
    background-color: #E6E8E6;
    color: #080708;
    border: none;
    font-size: 16px;
    margin: 10px auto 0px 9%;
    position: relative;
}

input {
    margin-top: 60px;
    width: 400px;
}

.btn_funciones-active {
    font-weight: bold;
}

.caja_funciones {
    font-size: 14px;
    margin: 7% auto;
}

.panel_total{
    width: 20%;
    height: 65px;
    border: 0.5px solid #d0d0d0;
    border-radius: 10px;
    padding: 15px;
    margin: auto 20% auto auto;
    text-align: right;
}

.panel_registros {
    min-height: 65vh;
}

.panel_total p {
    opacity: 0.8;
}

.panel_movimientos{
    margin: 5%;
    width: 75%;
}

.inputLogin {
    margin: 2%;
    width: 100%;
}

.hide {
    display: none;
}

.cerrarSesion {
    background-color: #716f71;
    font-size: 18px;
    opacity: 0.8;
}

.movimiento_panel{
    width: 70%;
}

.fecha_panel {
    opacity: 0.8;
}

.movimiento_individual {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 5%;
    opacity: 0.8;
}

.movimiento_categoria {
    background-color: #ffffff;
    text-align: center;
    border-radius: 100%;
    border: #080708;
    height: 50px;
    width: 50px;
    padding-top: 5px;
    margin-right: 5%;
    font-size: 30px;
}

.movimiento_importe {
    text-align: right;
    width: 20%;
}

.signo_gasto {
    color: #df2935;
}

.valor_total {
    font-size: 30px;
    /* margin-top: 5px; */
    opacity: 1;
}

ul {
    list-style: none;
    padding: 3%;
    width: 100%;
}


footer {
    background-color: #080708;
    opacity: 0.5;
    color: #E6E8E6;
    margin: 0px auto;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100vw;
    font-size: 12px;
    text-align: center;
    font-weight: 200;

}